body{
    background-image: url(background1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
nav{
    display: flex;
    justify-content:center;
    align-items: center;
}
nav .left{
    color: rgb(217, 176, 80);
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    margin: 10px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}
nav ul li a:hover{
    color: rgb(217, 176, 80);
    font-size: 1.05rem;
}
nav button{
    border-width: 1px;
    border-color: rgb(217, 176, 80);
    color: rgb(217, 176, 80);
    background-color: rgba(0,0,0,0);
    border-radius: 5px;
    height: 2.5rem;
    cursor: pointer;
}
.container{
    margin: 50px 100px;
    color: white;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container h3{
    color: rgb(217, 176, 80);
}
.container hr{
    width: 100px;
    height: 3px;
    margin-right: 1050px;
    background-color: rgb(217, 176, 80);
    border: 0;
}
.container .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    margin-top: 70px;
    border-width: 0;
}
.content .box{
    border: 2px solid;
    border-color:rgb(217, 176, 80);
    border-radius: 3px;
    width: 33%;
    margin: 5px;
    height: 250px;
}
.con{
    margin: 15px;
}
i{
    font-size: 3rem;
    color:rgb(217, 176, 80);
}